<mat-form-field appearance="outline" class="example-full-width">
  <mat-label>SD-JWT Credential</mat-label>
  <textarea
    [(ngModel)]="encodedCredential"
    (input)="onResolve($event.target.value)"
    matInput
    name="input"
    placeholder="eyJ2ZXIiOiIxLjAiLCJ..."
    rows="6"></textarea>
</mat-form-field>

<div class="button-group">
  <button matButton="filled" color="accent" (click)="goToVerification('v1')" [disabled]="!encodedCredential">
    Verify (DIF)
  </button>
  <button matButton="filled" color="accent" (click)="goToVerification('v2')" [disabled]="!encodedCredential">
    Verify (DCQL)
  </button>
  <button matButton="outlined" color="primary" (click)="copyCredentialToClipboard()" [disabled]="!encodedCredential">
    Copy SD-JWT
  </button>
</div>

@if(decodedHeader()) {
  <div class="credential-header credential-tile">
    <h2>Header</h2>
    <pre>{{ decodedHeader() | json }}</pre>
  </div>
}

<div class="credential-grid">
  <div class="credential-tile">
    <h2>Payload</h2>
    <pre>{{ decodedPayload() | json }}</pre>
  </div>

  <div class="credential-tile">
    <h2>Disclosure</h2>
    @if(disclosures() && disclosures().length) {
    <div>
      @for (disclosure of disclosures(); track disclosure[0]) {
      <div><strong>Salt:</strong> {{ disclosure[0] }}</div>
      <div><strong>Key:</strong> {{ disclosure[1] }}</div>
      <div><strong>Value:</strong> {{ disclosure[2] }}</div>
      <hr />
      }
    </div>

    } @else {
      <p>Cannot be retrieved</p>
    }
  </div>
</div>