<mat-expansion-panel (closed)="panelOpenState.set(false)" (opened)="panelOpenState.set(true)">
    <mat-expansion-panel-header>
        <mat-panel-title>
            <mat-icon
                    [fontIcon]="errorMessage ? 'error' : (data === undefined ? 'circle' : 'check_circle')"
                    [ngStyle]="{ 'color': errorMessage ? 'red' : (data === undefined ? 'gray' : 'green') }"
                    aria-hidden="false">
            </mat-icon>
            {{ panelTitle }}
        </mat-panel-title>
    </mat-expansion-panel-header>

    @if (errorMessage) {
    <div class="error-message-panel">
        <strong>⚠️ Error:</strong>
        <p>{{ errorMessage }}</p>
    </div>
    }

    <ng-content></ng-content>
</mat-expansion-panel>
