<div class="container">
  <h1>Issuance</h1>
    <!--
  <app-holder-keys-card></app-holder-keys-card>
  -->
  <div fxLayout="row"
    fxLayoutAlign="center center"
    class="content">
    <mat-card appearance="none">
      <mat-card-title fxLayout.gt-xs="row"
        fxLayout.xs="column">
        <h3>Resolve Verifiable Credential</h3>
      </mat-card-title>
      <mat-card-content>
        <app-deeplink-input [inputSignal]="sdJwt"
          (submitEvent)="onResolve($event)"
          (resetEvent)="onClear()"
          label="swiyu://..." />
        <mat-accordion>
          <app-metadata-panel [data]="credentialOffer()"
            [panelOpenState]="panelOpenState"
            [errorMessage]="credentialOfferError()"
            panelTitle="Decoding Deeplink">
            <mat-list>
              <app-checklist-entry [data]="credentialOffer()"
                [validData]="credentialOffer()?.credential_issuer !== undefined"
                text="Is credential_issuer present?" />
            </mat-list>
            <app-json-viewer title="Credential offer" [data]="credentialOffer()" />
          </app-metadata-panel>
          <app-metadata-panel [data]="issuerMetadata()"
            [panelOpenState]="panelOpenState"
            [errorMessage]="issuerMetadataError()"
            panelTitle="Resolving Issuer Metadata">
            <mat-list>
              <app-checklist-entry [data]="issuerMetadata()"
                [validData]="issuerMetadata() !== undefined"
                text="Can resolve issuer metadata" />
              <app-checklist-entry [data]="issuerMetadata()"
                [validData]="issuerMetadata()?.credential_endpoint !== undefined"
                text="Is credential_endpoint present?" />
              <app-checklist-entry [data]="issuerMetadata()"
                [validData]="issuerMetadata()?.credential_configurations_supported !== undefined"
                text="Is credential_configurations_supported present?" />
              <app-checklist-entry [data]="issuerMetadata()"
                [validData]="issuerMetadata()?.nonce_endpoint !== undefined"
                text="Is nonce_endpoint present?" />
              <app-checklist-entry
                [data]="issuerMetadataResponse()"
                [validData]="typeof issuerMetadataResponse() === 'string'"
                text="Issuer metadata received as signed JWT"
                optional="This is optional because wallet may request unsigned metadata" />
            </mat-list>
            @if (typeof issuerMetadataResponse() === 'string') {
              <app-json-viewer title="Raw issuer metadata" [data]="issuerMetadataResponse()" [maxLength]="256" />
            }
            <app-json-viewer title="Issuer metadata" [data]="issuerMetadata()" />
          </app-metadata-panel>
          
          @for (entry of credentialConfigurationsSupported() | keyvalue; track entry.key) {
            <app-metadata-panel
              [data]="entry.value"
              [panelOpenState]="panelOpenState"
              [panelTitle]="`Extract Credential Metadata (${entry.key})`">
              <mat-list>
                <app-checklist-entry
                  [data]="entry.value.format"
                  [validData]="entry.value.format === 'vc+sd-jwt' || entry.value.format === 'dc+sd-jwt'"
                  text="Format is valid" />
                <app-checklist-entry
                  [data]="entry.value.vct"
                  [validData]="entry.value.vct !== undefined"
                  text="Credential metadata contains a vct" />
                <app-checklist-entry
                  [data]="entry.value.cryptographic_binding_methods_supported"
                  [validData]="entry.value.cryptographic_binding_methods_supported?.includes('jwk')"
                  text="Binding method includes 'jwk'" />
                <app-checklist-entry
                  [data]="entry.value.credential_signing_alg_values_supported"
                  [validData]="entry.value.credential_signing_alg_values_supported?.includes('ES256')"
                  text="Signing alg includes 'ES256'" />
                <app-checklist-entry
                  [data]="entry.value.proof_types_supported?.jwt?.proof_signing_alg_values_supported?.[0]"
                  [validData]="entry.value.proof_types_supported?.jwt?.proof_signing_alg_values_supported?.[0] === 'ES256'"
                  text="Proof signing alg is ES256" />
              </mat-list>
              <app-json-viewer [title]="`Credential ${entry.key} metadata`" [data]="entry.value" />
            </app-metadata-panel>
          }

          <app-metadata-panel [data]="credentialRequestEncryption()"
            [panelOpenState]="panelOpenState"
            panelTitle="Extract Credential Request Encryption">
            <mat-list>
              <app-checklist-entry [data]="credentialRequestEncryption()?.encryption_required != null"
                [validData]="credentialRequestEncryption()?.encryption_required === true"
                text="Is credential request encryption required?"
                optional="Payload encryption during issuance is optional, but you can enforce this on the issuer side" />
              <app-checklist-entry [data]="credentialRequestEncryption()?.enc_values_supported"
                [validData]="credentialRequestEncryption()?.enc_values_supported?.includes('A128GCM')"
                text="Does request encryption support A128GCM?" />
              <app-checklist-entry [data]="credentialResponseEncryption()?.zip_values_supported"
                [validData]="credentialResponseEncryption()?.zip_values_supported?.includes('DEF')"
                text="Does response encryption support DEF?" />
              <app-checklist-entry [data]="credentialRequestEncryption()?.jwks"
                [validData]="credentialRequestEncryption()?.jwks?.keys?.length > 0"
                text="Is a JWKS provided for request encryption?" />
              <app-json-viewer title="Credential request encryption" [data]="credentialRequestEncryption()" />
            </mat-list>
          </app-metadata-panel>
          <app-metadata-panel [data]="credentialRequestEncryption()"
            [panelOpenState]="panelOpenState"
            panelTitle="Extract Credential Response Encryption">
            <mat-list>
              <app-checklist-entry [data]="credentialResponseEncryption()?.encryption_required != null"
                [validData]="credentialResponseEncryption()?.encryption_required === true"
                text="Is credential response encryption required?"
                optional="Payload encryption during issuance is optional, but you can enforce this on the issuer side" />
              <app-checklist-entry [data]="credentialResponseEncryption()?.enc_values_supported"
                [validData]="credentialResponseEncryption()?.enc_values_supported?.includes('A128GCM')"
                text="Does response encryption support A128GCM?" />
              <app-checklist-entry [data]="credentialResponseEncryption()?.zip_values_supported"
                [validData]="credentialResponseEncryption()?.zip_values_supported?.includes('DEF')"
                text="Does response encryption support DEF?" />
              <app-checklist-entry [data]="credentialResponseEncryption()?.alg_values_supported"
                [validData]="credentialResponseEncryption()?.alg_values_supported?.includes('ECDH-ES')"
                text="Does response encryption support ECDH-ES?" />
              <app-json-viewer title="Credential response encryption" [data]="credentialResponseEncryption()" />
            </mat-list>
          </app-metadata-panel>
          <app-metadata-panel [data]="openIdConfiguration()"
            [panelOpenState]="panelOpenState"
            [errorMessage]="openIdConfigurationError()"
            panelTitle="Resolving OpenID configuration">
            <mat-list>
              <app-checklist-entry [data]="openIdConfiguration()"
                [validData]="openIdConfiguration()"
                text="Can resolve OpenID configuration" />
              <app-checklist-entry [data]="openIdConfiguration()?.issuer"
                [validData]="openIdConfiguration()?.issuer"
                text="Is issuer present?" />
              <app-checklist-entry [data]="openIdConfiguration()?.token_endpoint"
                [validData]="openIdConfiguration()?.token_endpoint"
                text="Is token_endpoint present?" />
              <app-checklist-entry
                [data]="openIdConfigurationResponse()"
                [validData]="typeof openIdConfigurationResponse() === 'string'"
                text="OpenID configuration received as signed JWT"
                optional="This is optional because wallet may request unsigned metadata" />
            </mat-list>
            @if (typeof openIdConfigurationResponse() === 'string') {
              <app-json-viewer title="Raw issuer metadata" [data]="openIdConfigurationResponse()" [maxLength]="256" />
            }
            <app-json-viewer title="OpenID configuration metadata" [data]="openIdConfiguration()" />
          </app-metadata-panel>
          <app-metadata-panel [data]="oAuthToken()"
            [panelOpenState]="panelOpenState"
            [errorMessage]="oAuthTokenError()"
            panelTitle="Resolving OAuthToken">
            <app-json-viewer title="OAuthToken" [data]="oAuthToken()" />
          </app-metadata-panel>
          <app-metadata-panel [data]="nonce()"
            [panelOpenState]="panelOpenState"
            [errorMessage]="nonceError()"
            panelTitle="Resolving Nonce">
            <app-json-viewer title="Nonce" [data]="nonce()" />
          </app-metadata-panel>
          <app-metadata-panel [data]="credential()"
            [panelOpenState]="panelOpenState"
            [errorMessage]="credentialError()"
            panelTitle="Resolving Credential">
            @if (typeof credentialResponse() === 'string') {
              <app-json-viewer title="Raw credential" [data]="credentialResponse()" [maxLength]="256" />
            }
            <app-json-viewer title="Credential" [data]="credential()" />
          </app-metadata-panel>
          <mat-accordion>
            <app-metadata-panel [data]="registryEntry()"
              [panelOpenState]="panelOpenState"
              panelTitle="Load registry entry">
              <mat-list>
                <app-checklist-entry [data]="registryEntry()"
                  [validData]="registryEntry()"
                  text="Can resolve metadata" />
              </mat-list>
              @for (item of registryEntry(); track $index) {
              <pre>{{ item | json }}</pre>
              } @empty { Cannot be retrieved }
              <pre>{{ registryEntry }}</pre>
            </app-metadata-panel>

            <app-metadata-panel [data]="decodedHeader()"
              [panelOpenState]="panelOpenState"
              panelTitle="Decode Header">
              <mat-list>
                <app-checklist-entry [data]="decodedHeader()"
                  [validData]="decodedHeader()"
                  text="Header is valid" />
                <app-checklist-entry [data]="decodedHeader()"
                  [validData]="checkIfKeyPresent()"
                  text="Public Key can be resolved from registry entry" />
              </mat-list>
              <app-json-viewer [data]="decodedHeader()" />
            </app-metadata-panel>
          </mat-accordion>
        </mat-accordion>
      </mat-card-content>
    </mat-card>

    <div fxLayout="row"
      fxLayoutAlign="center center"
      class="content">
      <mat-card appearance="none">
        <mat-card-title fxLayout.gt-xs="row"
          fxLayout.xs="column">
          <h3>Credential Details</h3>
        </mat-card-title>
        <mat-card-content>
          <app-credential [registryEntry]="registryEntry()"
            [encodedCredential]="encodedCredential()"></app-credential>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>