<mat-form-field appearance="fill" class="example-full-width">
  <textarea
    [(ngModel)]="encodedCredential"
    matInput
    name="input"
    placeholder="Enter deeplink here"
    rows="6"
  ></textarea>
</mat-form-field>

<div class="credential-header credential-tile">
  <h2>Header</h2>
  <pre>{{ decodedHeader() | json }}</pre>
</div>

<div class="credential-grid">
  <div class="credential-tile">
    <h2>Payload</h2>
    <pre>{{ decodedPayload() | json }}</pre>
  </div>

  <div class="credential-tile">
    <h2>Disclosure</h2>
    <ng-container
      *ngIf="disclosures() && disclosures().length; else noDisclosure"
    >
      <div>
        @for (disclosure of disclosures(); track disclosure) {
        <div><strong>Salt:</strong> {{ disclosure[0] }}</div>
        <div><strong>Key:</strong> {{ disclosure[1] }}</div>
        <div><strong>Value:</strong> {{ disclosure[2] }}</div>
        <hr />
        }
      </div>
    </ng-container>
    <ng-template #noDisclosure> Cannot be retrieved </ng-template>
  </div>
</div>
