body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 24px;
}

h1 {
    color: #2c3e50;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

mat-card.card {
  min-width: 80%;
  margin: 10px;
}

.container {
    margin: 25px;
}

.actions {
    margin: 20px 0;

    > button {
       margin-right: 10px;
    }
}

mat-form-field {
    width: 100%;
}

.toast-success .mat-mdc-snackbar-surface {
    background-color: #4caf50 !important;
    color: white !important;
}

.toast-success .mat-mdc-button {
    color: white !important;
}

.toast-error .mat-mdc-snackbar-surface {
    background-color: #f44336 !important;
    color: white !important;
}

.toast-error .mat-mdc-button {
    color: white !important;
}

.toast-info .mat-mdc-snackbar-surface {
    background-color: #2196f3 !important;
    color: white !important;
}

.toast-info .mat-mdc-button {
    color: white !important;
}

.toast-warning .mat-mdc-snackbar-surface {
    background-color: #ff9800 !important;
    color: white !important;
}

.toast-warning .mat-mdc-button {
    color: white !important;
}

